.brand-logo {
    font-family: 'Rock Salt', cursive;
}

.welcome {
    height: 100%;
}

.nav-row {
    margin-bottom: 0;
}

.banner-row {
    flex-direction: column;
    /* height: 50vh; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/city-scape_blurred.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.banner-header {
    display: inline-block;
    margin: 5px 0px;
    padding: 0 5px;
    border-radius: 2px;
    background: white;
    font-family: 'Proza Libre', sans-serif;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px black);
}

.buttons {
    display:flex;
    justify-content: space-around;
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 24vh 0;
}

.submit-button {
    width: 100%;
}

#modal_2 {
    width: 40%;
    max-height: 80%;
}

.modal-content {
    font-family: 'Proza Libre', sans-serif;
}

#input_1 {
    font-size: 20px;
}

.modal-close {
    font-family: 'Proza Libre', sans-serif;
}

.input-col {
    display: flex;
    flex-direction: row;
}

.range-field {
    margin: 0;
}

input.range-input {
    margin: 2px;
}

.city-card-display-row {
    background: url('../images/funky-lines.png') top repeat;
    margin-bottom: 0;
}

.card-display-header {
    display: inline-block;
    margin: 5px 0px;
    padding: 0 5px;
    border-radius: 2px;
    background: white;
    font-family: 'Proza Libre', sans-serif;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px black);
}

.city-display {
    background: url('../images/funky-lines.png') top repeat;
    margin-bottom: 0;
    font-family: 'Proza Libre', sans-serif;
}

.city-card {
    background-color: white;
    margin-bottom: 0;
    font-family: 'Proza Libre', sans-serif;
}




